

.temaPrincipal{
    font-family: "Questrial", sans-serif;
    background-color:white;
    color: black;
    transition: all 1s;
}
.temaDestaques{
    background-color: ghostwhite;
    transition: all 1s;
}

.colorTema{
    color: black;
    transition: all 1s;
}

.iconeTema{
    color: #45d0d0;
    transition: all 1s;
}

.temaButtonAgendar{
    background-color: #45d0d0;
    transition: all 1s;
}







